name: Docker
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'Dockerfile'
      - '.github/workflows/docker.yml'

jobs:
  buildx:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Compute short commit SHA
        id: short-sha
        uses: benjlevesque/short-sha@v3
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push images
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            BUILD_VERSION=main.${{ steps.short-sha.outputs.sha }}
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest

  buildx-pull-request:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - name: Build images
        uses: docker/build-push-action@v6
        with:
          context: .
          build-args: |
            BUILD_VERSION=pr.${{ github.event.pull_request.number }}
          platforms: linux/amd64
          push: false
